---
layout      : press-page

title       : east-tec Eraser Press Kit
description :
image       :
---

<section class="section">
    <h2 class="section-title">Links</h2>
    <ul class="nav nav-inline">
        <li class="nav-item">
            <a class="nav-link download-link" href="http://www.east-tec.com/eraser/" target="_blank">Home Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link download-link" href="http://www.east-tec.com/eraser/reviews/" target="_blank">Reviews Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link download-link" href="http://www.east-tec.com/eraser/download/" target="_blank">Download Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link download-link" href="http://www.east-tec.com/store/eraser/" target="_blank">Store Page</a>
        </li>
    </ul>
</section>

<section class="section">
    <h2 class="section-title">Short Description</h2>
    <p>Over 18 years of experience in protecting your sensitive data and privacy, and securely erasing all evidence of your Internet and PC activity. Go beyond any system optimization or cleanup tool, improve your PC performance, keep it clean and secure! Eraser exceeds government and industry standards for the permanent erasure of digital information and easily removes every trace of sensitive data from your PC: history, pictures, cookies, and more.</p>
</section>

<section class="section">
	<h2 class="section-title">PAD Data Sheet</h2>
	<p>The east-tec Eraser PAD (Portable Application Description) provides product information and specifications: descriptions of various sizes (from 45 to 2000 characters), download links, version and file size information, affiliate links, and more.</p>
	<ul class="nav nav-inline">
		<li class="nav-item">
			<a class="nav-link download-link" href="http://wiki.appvisor.org/East-tec_Eraser" target="_blank">View PAD Summary</a>
		</li>
		<li class="nav-item">
			<a class="nav-link download-link" href="http://repository.appvisor.com/info/app-41003acc5c61/easttec_Eraser_pad.xml" target="_blank">View PAD XML File</a>
		</li>
	</ul>
</section>

<section class="section">
    <h2 class="section-title">Product Icon</h2>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <a href="http://res.cloudinary.com/east-tec/image/upload/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
                <img class="img-fluid" src="http://res.cloudinary.com/east-tec/image/upload/c_limit,w_256/press/products/eraser/icon/east-tec-eraser-icon.png" alt="east-tec Eraser Icon" />
            </a>
        </div>

        <div class="col-sm-6 col-lg-4">
            <h3>Download as</h3>
            <ul class="nav">
                {% include templates/download-link.html url="/press/products/eraser/icon/east-tec-eraser-icon.png" text="PNG, Full Quality, 2560 x 2560" %}
                {% include templates/download-link.html url="/c_limit,w_512/press/products/eraser/icon/east-tec-eraser-icon.png" text="PNG, Full Quality, 512 x 512" %}



                <li class="nav-item">
                    <a class="nav-link download-link" href="http://res.cloudinary.com/east-tec/image/upload/c_limit,w_512/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
                        PNG, Full Quality, 512 x 512
                    </a>
                </li>

        <li class="nav-item">
<a class="nav-link download-link" href="http://res.cloudinary.com/east-tec/image/upload/fl_png8/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
PNG, Optimized, 2560 x 2560	</a>
</li>						<li class="nav-item">
<a class="nav-link download-link" href="http://res.cloudinary.com/east-tec/image/upload/c_limit,w_512,fl_png8/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
PNG, Optimized, 512 x 512	</a>
</li>						<li class="nav-item">
<a class="nav-link download-link" href="http://res.cloudinary.com/east-tec/image/upload/c_limit,w_256,fl_png8/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
PNG, Optimized, 256 x 256	</a>
</li>					</ul>
</div>


<div class="col-sm-6 col-lg-4">
<ul class="nav">
<li class="nav-item">
<a class="nav-link download-link" href="http://res.cloudinary.com/east-tec/image/upload/c_limit,w_128,fl_png8/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
PNG, Optimized, 128 x 128	</a>
</li>						<li class="nav-item">
<a class="nav-link download-link" href="http://res.cloudinary.com/east-tec/image/upload/c_limit,w_64,fl_png8/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
PNG, Optimized, 64 x 64	</a>
</li>						<li class="nav-item">
<a class="nav-link download-link" href="http://res.cloudinary.com/east-tec/image/upload/c_limit,w_48,fl_png8/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
PNG, Optimized, 48 x 48	</a>
</li>						<li class="nav-item">
<a class="nav-link download-link" href="http://res.cloudinary.com/east-tec/image/upload/c_limit,w_32,fl_png8/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
PNG, Optimized, 32 x 32	</a>
</li>						<li class="nav-item">
<a class="nav-link download-link" href="http://res.cloudinary.com/east-tec/image/upload/c_limit,w_24,fl_png8/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
PNG, Optimized, 24 x 24	</a>
</li>						<li class="nav-item">
<a class="nav-link download-link" href="http://res.cloudinary.com/east-tec/image/upload/c_limit,w_16,fl_png8/press/products/eraser/icon/east-tec-eraser-icon.png" target="_blank">
PNG, Optimized, 16 x 16	</a>
</li>					</ul>
</div>
</div>

</section>
